body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #0a58ca;
  color: white;
  padding: 20px;
  text-align: center;
}

.content {
  padding: 15px;
}

.box {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.box h3 {
  margin-top: 0;
}

.btn {
  display: inline-block;
  background: #198754;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 5px;
}

footer {
  text-align: center;
  background: #222;
  color: white;
  padding: 10px;
}